.website__experience {
    width: 100%;
    height: 880px;
    background-image: url("/src/assets/breadboard.png");
    /* background-attachment: fixed; */
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.website__experience-name {

    position: relative;
    width: 809px;
    height: 190px;
    left: 37px;
    top: 48px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;

    color: #100606;
}

.website__experience-infobar{ 
    color: #100606;
}

.website__experience-navbar {
    color: #100606;
}