.website__projects {
    width: 100%;
    height: 920px;
    background-image: url("/src/assets/duck_road.png");
    /* background-attachment: fixed; */
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.website__projects-name {
    position: relative;
    width: 809px;
    height: 190px;
    left: 38px;
    top: 45px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;

    color: #1b1818;
}

.website__projects-infobar {
    color: #100606;
}

.website__projects-navbar{
    color: #100606;
}

.website__projects:hover {
    color: black;
}
  
.website__projects:hover:before {
    display: block;
}