.website__thanks {
    width: 100%;
    height: 880px;
    background-image: url("/src/assets/flatirons.png");
    background-attachment: fixed;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.website__thanks-name {
    position: relative;
    width: 657px;
    height: 94px;
    left: 423px;
    top: 462px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;

    color: #FFCDCD;
}

.website__thanks-infobar{ 
    color: #100606;
}

.website__thanks-navbar {
    color: #967474;
}