.website__bio {
    background-image: url("/src/assets/lake.png");
    /* background-attachment: fixed; */
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1440px;
    height: 880px;
}

.website__bio-name {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    color: #100606;
    text-align: center;
    position: relative;
    height: 10%;
    width: 40%;
    top: 2%;
}

.website__bio-infobar {
    color: #100606;
}

.website__bio-navbar{
    color: #100606;
}