.website__bio {
    width: 1440px;
    height: 880px;
    background-image: url("/src/assets/lake.png");
    background-attachment: fixed;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* display: flex; */
}

.website__bio-name {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;
    color: #100606;
    text-align: center;
    position: relative;
    top: 3%; /* 10 flex */
    left: 20%;
    transform: translate(-50%, -9%);
}

.website__bio-infobar {
    color: #100606;
}

.website__bio-navbar{
    color: #100606;
}