.website__navbar {
    display: flex;
    align-items: left;
    position: relative;
    width: 30%;
    height: 10%;
    left: 80%;
    margin-top: 2%;
    top: 90%;
}

.website__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 0px;
    gap: 10px;
}

.website__navbar-links_container {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 55px;
}

/*
* Disable color change of unvisited hyperlinks; preserve text decoration (underline)
*/
a {
    color: inherit;
}