.website__navbar {
    display: flex;
    align-items: left;
    position: relative;
    resize: horizontal;
    width: 184px;
    height: 128px;
    left: 1072px;
    top: 200px;
}

.website__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 0px;
    gap: 10px;
}

.website__navbar-links_container {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 55px;
    color: #100606;
}
