.website__achievements {
    width: 1440px;
    height: 880px;
    background-image: url("/src/assets/quickdraw.png");
    background-attachment: fixed;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.website__achievements-name {
    position: relative;
    width: 809px;
    height: 190px;
    left: 13px;
    top: 25px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;

    color: #FFFFFF;
}

.website__achievements-infobar{ 
    color: #100606;
}

.website__achievements-navbar {
    color: #100606;
}